<%- include('block/header'); %>

<div class="container">
  <div class="sidebar"><%- include('block/sidebar') %></div>

  <div class="dashboard-container">
    <div class="dashboard">
        <!-- <h2>You are currently registered in 1 chat-room:</h2>
        <ul>
            <li><a href="room/605bc7289430b53b822e56e2">Backend-1</a></li>
        </ul> -->
        <h3>Create your own chat room here:</h2>
        <form action="room/create" method="post">
            <label for="room-name">Enter The Room Name:</label>
            <input type="text" name="roomName" id="room-name-input" placeholder="MyCoolChatRoom-1" required><br>
            <input type="checkbox" id="private-room-input" name="isRoomPrivate">
            <label for="private">I want my chat room to be private (invited members only)</label><br />
            

            <input type="submit" value="Create Chatroom">
        </form>

    </div>  
  </div>

  <div id="emoji-list-box" class="hide emoji-box">
    <input
      type="text"
      name="search-emoji"
      placeholder="Search emojis here..."
      class="search-emoji"
      id="search-emoji"
    />
    <ul id="emoji-list"></ul>
  </div>
</div>

<%- include('block/footer'); %>
