<%- include('block/header'); %>

<div class="container">
    <div class="sidebar">
        <%- include('block/sidebar') %> 
    </div>
    <div class="chat_body">
        <%- include('block/body') %> 
    </div>
</div>

<%- include('block/footer'); %>
