<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Slack Clone</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="login-container">
      <img src="images/slack.png" alt="" />

      <h2>Sign in to Slack</h2>
      <p>Continue with your email address and password to sign in</p>
      <form action="/user-login" method="POST" autocomplete="off">
        <input
          type="text"
          name="loginEmail"
          id="loginEmail"
          placeholder="name@email.com"
          autocomplete="off"
        />
        <input
          type="password"
          name="loginPass"
          id="loginPass"
          placeholder="Password"
          autocomplete="off"
        />
        <input type="submit" value="Sign In" />
      </form>

      <p class="create-account-box">
        New to slack? Create your account <a href="/">here</a>
      </p>
    </div>
  </body>
</html>
