<%- include('block/header'); %>

<div class="container">
    <div class="sidebar"><%- include('block/sidebar') %></div>
  <h1>This is public Chats!</h1>
</div>
<script> 
    const currentUserId = "<%- userId %>" 
</script>
  
<%- include('block/footer'); %>
