<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up to Slack Clone</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="login-container">
      <img src="../images/slack.png" alt="" />

      <h2>Fill the form bellow</h2>
      <p>All fields required! Password fields must match.</p>

      <% include('partials/messages') %>

      <form id="signupForm" action="/users/signup" method="POST">
        <input
          type="text"
          name="name"
          id="signupName"
          placeholder="Your Name*"
          autocomplete="off"
          value="<%= typeof name != 'undefined' ? name : '' %>"
        />
        <input
          type="email"
          name="email"
          id="loginEmail"
          placeholder="Your Email*"
          autocomplete="off"
          value="<%= typeof email != 'undefined' ? email : '' %>"
        />
        <input
          type="password"
          name="password"
          id="loginPass"
          placeholder="Password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
        />
        <input
          type="password"
          name="passwordConfirm"
          id="loginPassConfirmation"
          placeholder="Confirm Password"
          value="<%= typeof passwordConfirm != 'undefined' ? passwordConfirm : '' %>"
        />
        <input
          id="input-submit"
          type="submit"
          value="Sign In"
          disabled="disabled"
        />
      </form>

      <p class="create-account-box">
        Already have an account? <a href="/users/login">Login in here.</a>
      </p>
    </div>
    <script src="../js/signup-script.js"></script>
  </body>
</html>
